
  <style>
    
     body { 
       color: coral;
       background-color: lightskyblue;
       padding-top: 40px;
       padding-right: 60px;
       padding-bottom: 40px;
       padding-left: 60px;
       font-size: 115%;
     }
    
     p.zanr, h1, h2, footer p {
       text-align: center;
     }
    
     p.zanr {
       font-family:  Georgia ;  
       font-size: 200%; 
     }
    
     h1 {
       color: rgb(13,162,130);
       font-size: 150%; 
       border-style: double; 
       background-color: red; 
       line-height: 150%;
     }
    
     h2 
    {
       color: rgb(30,144,255); 
       font-size: 35px;
       text-transform: uppercase; 
       font-weight: bold;
     }
    
     footer p { 
       font-size: 30px; 
       font-style: oblique; 
       text-decoration: underline; 
       float: right;
     }
    
     p.autor, p.zdroj {
       text-align: right; 
       font-style: italic;
     }
    
     blockquote {
       font-weight: bolder;
       text-align: center; 
       font-style: italic;
     }
    
     section {
       background-color: rgb(240,255,255); 
       padding-top: 30px; 
       padding-right: 30px; 
       padding-bottom: 30px; 
       padding-left: 30px;         
       text-align: justify;
     } 
    
  </style>
